* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-fira-sans {
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
}

nav h2 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    cursor: pointer;
}

.hero-container {
    display: flex;
    gap: 64px;
    border-radius: 24px;
    background-color: #C6E4D6;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-content h2 {
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e50;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.hero-content .btn {
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
}

#pillars {
    margin: 80px auto;
}

#pillars h2 {
    font-size: 40;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.pillar-container {
    display: flex;
    gap: 24px;
}

.pillar-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: #FFFFFF;
}

.pillar-card img {
    max-width: 64px;
}

.pillar-card h4 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

.pillar-card p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
}

#vision {
    margin: 80px auto;
}

#vision h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

#vision p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.vision-container {
    display: flex;
    gap: 24px;
    /* all card similar height */
    align-items: stretch;
    justify-content: space-between;
    margin: 32px auto;
}

.vision-card {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 32px;
}

.vision-card img {
    max-width: 64px;
}

.vision-card h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.vision-card button {
    /* push btn to bottom of parent, absorbing all space above */
    margin-top: auto;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    max-width: max-content;
    border: none;
}

.vision-card:nth-child(1) {
    background: rgba(84, 144, 245, 0.2);
}

.vision-card:nth-child(2) {
    background: #C6E4D6;
}

.vision-card:nth-child(3) {
    background: #F7EBCF;
}

.vision-card:nth-child(1) button {
    background: #5490F5;
}

.vision-card:nth-child(2) button {
    background: #09A15C;
}

.vision-card:nth-child(3) button {
    background: #FFC239;
}

.quote-container {
    border-radius: 16px;
    padding: 24px 48px;
    background-color: white;
    position: relative;
}

.quote-container p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    text-align: justify;
}

.quote-container h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}

.quote-container i {
    font-size: 64px;
    color: #0E0E0E4D;
    /* removes <i> element from normal flow, meaning other elements will behave as if it doesn't exist */
    position: absolute;
    /* places <i> element at specific location relative to its nearest ancestor, which is .quote-container */
    top: 5px;
    left: 35px;
}

#opinion {
    margin: 80px auto;
}

#opinion h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.opinion-container {
    border-radius: 16px;
    padding: 32px 32px;
    background-color: white;
}

.opinion-table {
    border-collapse: collapse;
    width: 100%;
}

.opinion-table th, .opinion-table td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px 24px;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}

.opinion-table th {
    background-color: #C6E4D6;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.opinion-table select {
    border-radius: 4px;
    padding: 14px 10px;
    background-color: #C6E4D6;
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}

#news {
    margin: 80px auto;
}

#news h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

#news p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news-card {
    background-color: white;
    border-radius: 24px;
    padding: 48px 48px;
    display: flex;
    gap: 32px;
}

.news-card img {
    border-radius: 24px;
}

.news-card:nth-child(even) {
    flex-direction: row-reverse;
}

.news-card .card-info {
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
}

.news-card .card-info img {
    max-width: 135px;
    margin-bottom: 12px;
}

.news-card .card-info h4 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.date-time {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7);
}

.news-card .btn {
    background-color: #006A50;
    color: white;
    padding: 13px 26px;
    max-width: max-content;
}