* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-fira-sans {
  font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #F5F5F5;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
}

nav h2 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    cursor: pointer;
}

.hero-container {
    display: flex;
    gap: 64px;
    border-radius: 24px;
    background-color: #C6E4D6;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-content h2 {
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e50;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.hero-content .btn {
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
}